@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
  }
  
  h1 {
    font-family: Norse-Bold, sans-serif;
  }

body{
    margin: 0;
    padding: 0;
}


#general{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.image-container {
    background-image: url(images/olimpia-davies-tOMJGFEWqKU-unsplash.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.para-form{
    height: 33vh;
}

.form-itself{
    height: 33vh;
}

.submit{
    height: 33vh;
}







/*.image-container {
    display: flex;
    background-image: url(images/olimpia-davies-tOMJGFEWqKU-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
}

img {
    height: auto;
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    width: 20vw;
    height: 20vh;
    border-radius: 50%;
}

.image-container>.dishes {
    width: 40%;
    height: 100%;
    z-index: -1;
}

.form-itself {
    display: flex;
    width: 60vw;
    height: 100vh;

}*/
