body {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    max-height: 100vh;

}

.image-container {
    display: flex;
    background-image: url(images/olimpia-davies-tOMJGFEWqKU-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
}

img {
    height: auto;
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    width: 20vw;
    height: 20vh;
    border-radius: 50%;
}

/*.image-container>.dishes {
    width: 40%;
    height: 100%;
    z-index: -1;
}
